<div
  class="py-5 service-21 wrap-service21-box d-flex align-items-center my-5"
  style="background-image: url(../assets/img/goal-cover.jpg); height: 250px"
>
  <div class="container d-flex justify-content-center">
    <!-- Row  -->
    <div class="row text-white">
      <!-- Column -->
      <div class="col-md-5">
        <div class="container">
          <h1
            class="text-white mt-3 mb-4"
            style="font-size: 40px; letter-spacing: 10px"
          >
            Goals
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
