<!-- <app-news-banner></app-news-banner> -->
<!-- <app-news-banner></app-news-banner> -->

<div class="banner8 py-5" style="margin-top: 7rem">
  <div class="container">
    <div class="row">
      <!-- column  -->
      <div class="col-lg-8 blog-home3">
        <!-- <h6 class="text-themecolor font-weight-normal text-uppercase">
            newsletter
          </h6> -->
        <div class="col-lg-12">
          <div class="card border-0 mb-4" *ngIf="retrievedImage">
            <img
              class="card-img-top"
              src="{{ retrievedImage }}"
              alt="wrappixel kit"
              height="300px"
            />
            <div
              class="date-pos text-center text-white p-3 bg-success-gradiant"
            >
              {{ SingalNews.author | uppercase }} &nbsp; &nbsp;
              {{ SingalNews.date | date }}
            </div>
            <div class="container">
              <h5 class="font-weight-medium mt-3">
                Techonologies started to change Drastically
              </h5>
              <p class="m-t-20">
                You can relay on our amazing features list and also our customer
                services will be great experience. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. You can relay on our amazing
                features list and also our customer services will be great
                experience. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. You can relay on our amazing features list and also our
                customer services will be great experience. Lorem ipsum dolor
                sit amet, consectetur adipiscing elit. You can relay on our
                amazing features list and also our customer services will be
                great experience. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. You can relay on our amazing features list and
                also our customer services will be great experience. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- column  -->
      <div
        class="col-lg-4 ml-auto"
        style="
          background: rgb(255, 255, 255);
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(191, 200, 234, 1) 28%
          );
        "
      >
        <div class="d-block d-md-flex border-bottom text-uppercase">
          <!-- <h6 class="no-shrink font-weight-medium align-self-center m-b-0">
            Latest News At WrapKit
          </h6> -->
          <h5 class="font-weight-medium align-self-center m-b-0">
            Recent News
          </h5>
          <a class="ml-auto align-self-center text-decoration-none" href="#"
            >View All</a
          >
        </div>

        <a
          routerLink="/Snews/:{{ recent.id }}"
          style="text-decoration: none"
          *ngFor="let recent of recentNewsAll"
        >
          <div
            class="card my-2"
            style="background-color: #f8f9fc; overflow: hidden"
          >
            <div class="row blog-row mt-1 mb-2">
              <div class="col-md-4 mt-1" style="padding: 0; margin-left: auto">
                <div *ngFor="let image of imageResponse">
                  <div *ngIf="image.id === recent.imageId">
                    <div *ngIf="retrievedImage">
                      <img
                        *ngIf="retrievedImage"
                        class="img-fluid"
                        src="data:image/jpeg;base64,{{ image.image }}"
                        alt="{{ image.id }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 blog-home3">
                <h6>
                  {{ recent.title }}
                </h6>
                <p style="margin-bottom: 2px">
                  by {{ recent.author }} / {{ recent.date | date }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- column  -->
    </div>
  </div>
</div>
