<div class="py-5 service-22">
  <div class="container">
    <!-- Row -->
    <div class="row wrap-service-22">
      <!-- Column -->
      <div class="col-lg-6">
        <img
          src="../assets/img/about-img.jpg"
          class="rounded img-shadow img-fluid"
          alt="Image"
        />
      </div>
      <!-- Column -->
      <div class="col-lg-6 mt-4 mt-md-0">
        <div class="text-box">
          <!-- <small class="text-info font-weight-medium"
            >Make your site in No-Time</small
          > -->
          <h1>Kaleen Bhaiya</h1>
          <h4 class="font-weight-light mt-2 mb-4">
            Wants helps you to
            <span class="text-megna">build your project</span> in record time
            with fun making it.
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </p>
          <p>
            Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
            aliquis would be good to have.
          </p>
          <!-- <a
            routerLink="news"
            class="btn btn-info-gradiant btn-md text-white border-0"
            ><span>View Details</span></a
          > -->
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
