<app-eventjumbo></app-eventjumbo>

<div class="blog-home2 py-5" style="">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h1
          class="my-3"
          style="
            letter-spacing: 2px;
            font-size: x-large;
            font-weight: 600;
            color: #c60013;
            user-select: none;
          "
        >
          Upcoming Events
        </h1>
        <h3 class="font-weight-normal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </h3>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-md-4">
        <a routerLink="events" style="text-decoration: none">
          <div class="card border-0 mb-4" style="background-color: #e0e4d6">
            <img
              class="card-img-top"
              src="assets\img\events\event4-min.jpg"
              alt=""
            />
            <div
              class="
                date-pos
                bg-info-gradiant
                p-2
                d-inline-block
                text-center
                rounded
                text-white
                position-absolute
              "
            >
              Oct<span class="d-block">23</span>
            </div>
            <div class="container">
              <h5 class="font-weight-medium mt-3">
                Reqruitment of party worker for campaign task of party
              </h5>
              <p class="mt-3" style="color: #c60013; user-select: none">
                Fawara Chowk, Gujrat
              </p>
            </div>
            <!-- <span style="padding: 6px 10px">
            <a
              href="#"
              class="text-decoration-none linking text-themecolor mt-2"
              >Learn More</a
            >
          </span> -->
          </div>
        </a>
      </div>

      <!-- Column -->
      <div class="col-md-4" *ngFor="let event of eventsformationAll">
        <div class="card border-0 mb-4" style="background-color: #efefef">
          <div *ngFor="let image of imageResonse">
            <div *ngIf="image.id === event.imageId">
              <div *ngIf="retrievedImage">
                <img
                  *ngIf="retrievedImage"
                  class="card-img-top"
                  src="data:image/jpeg;base64,{{ image.image }}"
                  alt="{{ image.id }}"
                />
              </div>
            </div>
          </div>
          <div
            class="
              date-pos
              bg-info-gradiant
              p-2
              d-inline-block
              text-center
              rounded
              text-white
              position-absolute
            "
            style="width: 50.72px; height: 66px"
          >
            {{ event.date | date: "MMM" }}
            <span class="d-block">{{ event.date | date: "d" }}</span>
          </div>
          <div class="container">
            <h5 class="font-weight-medium mt-3" style="user-select: none">
              {{ event.title }}
            </h5>
            <p class="mt-3" style="color: #c60013; user-select: none">
              {{ event.venue }}
            </p>
          </div>

          <!-- <span style="padding: 6px 10px">
            <a
              href="#"
              class="text-decoration-none linking text-themecolor mt-2"
              >Learn More</a
            >
          </span> -->
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
