<app-eventjumbo></app-eventjumbo>

<div class="blog-home2 py-5" style="">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h1 class="my-3">Upcoming Events</h1>
        <h3 class="font-weight-normal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </h3>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-md-4">
        <a routerLink="events" style="text-decoration: none">
          <div class="card border-0 mb-4" style="background-color: #e0e4d6">
            <img
              class="card-img-top"
              src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img3.jpg"
              alt="wrappixel kit"
            />
            <div
              class="
                date-pos
                bg-info-gradiant
                p-2
                d-inline-block
                text-center
                rounded
                text-white
                position-absolute
              "
            >
              Oct<span class="d-block">23</span>
            </div>
            <div class="container">
              <h5 class="font-weight-medium mt-3">
                You should have eagle’s eye on new trends and techonogies
              </h5>
              <p class="mt-3" style="color: rgb(172, 45, 211)">
                Fawara Chowk, Gujrat
              </p>
            </div>
            <!-- <span style="padding: 6px 10px">
            <a
              href="#"
              class="text-decoration-none linking text-themecolor mt-2"
              >Learn More</a
            >
          </span> -->
          </div>
        </a>
      </div>
      <!-- Column -->
      <div class="col-md-4">
        <div class="card border-0 mb-4" style="background-color: #e0e4d6">
          <img
            class="card-img-top"
            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img2.jpg"
            alt="wrappixel kit"
          />
          <div
            class="
              date-pos
              bg-info-gradiant
              p-2
              d-inline-block
              text-center
              rounded
              text-white
              position-absolute
            "
          >
            Oct<span class="d-block">23</span>
          </div>
          <div class="container">
            <h5 class="font-weight-medium mt-3">
              New Seminar on Newest Food Recipe from World’s Best
            </h5>
            <p class="mt-3" style="color: rgb(172, 45, 211)">
              University of Gujrat, Gujrat
            </p>
          </div>

          <!-- <span style="padding: 6px 10px">
            <a
              href="#"
              class="text-decoration-none linking text-themecolor mt-2"
              >Learn More</a
            >
          </span> -->
        </div>
      </div>
      <!-- Column -->
      <!-- Little Fixed -->
      <div class="col-md-4">
        <!-- <div class="container" style="background-color: #c08c99"> -->
        <div
          class="card border-0 mb-4"
          style="background-color: #e0e4d6; height: 345.64px; width: 356px"
        >
          <img
            height="356px"
            width="237.641px"
            class="card-img-top img-fluid"
            src="assets\img\about-img.jpg"
            alt="custom"
          />
          <div
            class="
              date-pos
              bg-info-gradiant
              p-2
              d-inline-block
              text-center
              rounded
              text-white
              position-absolute
            "
          >
            Oct<span class="d-block">23</span>
          </div>
          <div class="container" style="height: 108px; width: 356px">
            <h5 class="font-weight-medium mt-3">
              Learn from small things to create something bigger.
            </h5>
            <p class="mt-3" style="color: rgb(172, 45, 211)">
              Jail Chowk, Gujrat
            </p>
          </div>
          <!-- <span style="padding: 6px 10px">
            <a
              href="#"
              class="text-decoration-none linking text-themecolor mt-2"
              >Learn More</a
            >
          </span> -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
