<!-- <app-news-banner></app-news-banner> -->

<div class="blog-home3 py-5" style="margin-top: 20vh">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h1
          class="my-3"
          style="
            letter-spacing: 2px;
            font-size: x-large;
            font-weight: 600;
            color: #c60013;
            user-select: none;
          "
        >
          Latest News
        </h1>
        <h3 class="font-weight-normal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </h3>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <!-- <div class="col-lg-12">
        <div class="card on-hover border-0 mb-4">
          <a routerLink="/news" style="text-decoration: none"
            ><img
              class="card-img-top"
              src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img4.jpg"
              alt="wrappixel kit"
            />
            <div
              class="date-pos text-center text-white p-3 bg-success-gradiant"
            >
              JOHN DOE &nbsp; &nbsp; SEPT 15, 2017
            </div>
            <div class="container">
              <h5 class="font-weight-medium mt-3">
                PM directs FIA to go for decisive action against sugar millers
              </h5>
              <p class="m-t-20" style="color: black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                mollitia, molestiae quas vel sint commodi repudiandae
                consequuntur voluptatum laborum numquam blanditiis harum
                quisquam eius sed odit fugiat iusto fuga praesentium optio.
              </p>
            </div>
          </a>
        </div>
      </div> -->
      <!-- Column -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Column -->

          <!-- Column -->
          <div class="col-md-3">
            <div class="card on-hover border-0 mb-4">
              <img
                class="card-img-top"
                src="assets\img\news\news7.jpg"
                alt=""
              />
              <div
                class="date-pos text-center text-white p-3 bg-success-gradiant"
              >
                JOHN DOE &nbsp; &nbsp; SEPT 15, 2017
              </div>
              <!-- <h6 class="font-weight-medium mt-3">
                <a href="#" class="link text-decoration-none"
                  >New Seminar on Newest Food Recipe</a
                >
              </h6> -->
              <div class="container">
                <h5 class="font-weight-medium mt-3" style="font-size: 14px">
                  <a href="#" class="link text-decoration-none"
                    >ISLAMABAD: In a protest demonstration by civil society and
                    media rights organisations.</a
                  >
                </h5>
                <!-- <p class="m-t-20">
                  You can relay on our amazing features list and also our
                  customer services.
                </p> -->
              </div>
            </div>
          </div>
          <!-- Column -->

          <!-- from Apis -->
          <div class="col-md-3" *ngFor="let news of newsformationAll">
            <div
              class="card on-hover border-0 mb-4"
              style="background-color: #efefef"
            >
              <a
                routerLink="/Snews/:{{ news.id }}"
                style="text-decoration: none"
              >
                <div *ngFor="let image of retrieveResonse">
                  <div *ngIf="image.id === news.imageId">
                    <div *ngIf="retrievedImage">
                      <img
                        *ngIf="retrievedImage"
                        class="card-img-top"
                        src="data:image/jpeg;base64,{{ image.image }}"
                        alt="{{ image.id }}"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="
                    date-pos
                    text-center text-white
                    p-3
                    bg-success-gradiant
                  "
                >
                  {{ news.auther }} {{ news.author | uppercase }} &nbsp; &nbsp;
                  {{ news.date | date: "mediumDate" }}
                </div>
                <div class="container">
                  <h5
                    class="font-weight-medium mt-3 poppins"
                    style="text-decoration: none; font-size: 14px"
                  >
                    {{ news.title }}
                  </h5>
                  <!-- <p class="m-t-20" style="color: black">
                    <span>
                      <div [innerHTML]="news.description"></div>
                    </span>
                  </p> -->

                  <!-- <div [innerHTML]="news.description"></div> -->
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
