<div class="" style="background-color: #006194">
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row">
      <div class="col-md-3 footer-brand animated fadeInLeft">
        <h2>Logo</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum!
        </p>
        <p>© 2021, All rights reserved</p>
      </div>
      <div class="col-md-4 footer-nav animated fadeInUp">
        <h4>Menu —</h4>
        <div class="col-md-6">
          <ul class="pages">
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="events">Events</a></li>
            <li><a routerLink="news">News</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list">
            <li><a href="#">About Us</a></li>
            <!-- <li><a href="#">Contacts</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-2 footer-social animated fadeInDown">
        <h4>Follow Us</h4>
        <ul>
          <li>
            <a href="#"
              ><span
                ><i
                  class="fa fa-facebook-official"
                  aria-hidden="true"
                  style="color: blue; margin-right: 1px"
                ></i
              ></span>
              Facebook</a
            >
          </li>
          <li>
            <a href="#">
              <span
                ><i
                  class="fa fa-twitter fa-lg"
                  aria-hidden="true"
                  style="color: rgb(37, 37, 165); margin-right: 3px"
                ></i></span
              >Twitter</a
            >
          </li>
          <li>
            <a href="#"
              ><span
                ><i
                  class="fa fa-instagram"
                  aria-hidden="true"
                  style="color: rgb(230, 3, 143); margin-right: 3px"
                ></i></span
              >Instagram</a
            >
          </li>
          <li>
            <a href="#"
              ><span
                ><i
                  class="fa fa-youtube-play"
                  aria-hidden="true"
                  style="color: rgb(255, 0, 0); margin-right: 2px"
                ></i></span
              >YouTube</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-ns animated fadeInRight">
        <h4>Newsletter</h4>
        <p>Subscribe to our latest news & events</p>
        <p></p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Email..." />
          <span class="input-group-btn" style="background-color: #c60013">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-envelope"
                ><i class="fa fa-envelope" aria-hidden="true"></i
              ></span>
            </button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
    </div>
  </footer>
  <section style="text-align: center; padding: 10px">
    <p
      style="
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: large;
        color: white;
      "
    >
      ©CopyRights 2021
    </p>
  </section>
</div>
