/* @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800); */
.blog-home3 {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins",sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.blog-home3 h1,
.blog-home3 h2,
.blog-home3 h3,
.blog-home3 h4,
.blog-home3 h5,
.blog-home3 h6 {
  color: #3e4555;
}

.blog-home3 h5 {
    line-height: 22px;
    font-size: 18px;
}

.blog-home3 a.link {
    color: #3e4555;
}

.blog-home3 a.link:hover {
    color: #316ce8;
}

.blog-home3 .font-weight-medium {
  font-weight: 500;
}

.blog-home3 .bg-light {
  background-color: #f4f8fa !important;
}

.blog-home3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.blog-home3 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.blog-home3 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home3 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* .blog-home3 .bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);


  -------------------test 1-------
  background: rgb(212,22,5);
background: linear-gradient(90deg, rgba(212,22,5,1) 0%, rgba(255,192,83,0.3757878151260504) 100%);
} */
/* .blog-home3 .bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #d53369 0%, #daae51 100%);
  background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#daae51));
  background: -webkit-linear-gradient(left, #d53369 0%, #daae51 100%);
  background: -o-linear-gradient(left, #d53369 0%, #daae51 100%);
  background: linear-gradient(to right, #d53369 0%, #daae51 100%);
  
} */
.blog-home3 .bg-success-gradiant {
  
  /* background: rgb(212,22,5);
background: linear-gradient(90deg, rgba(212,22,5,1) 0%, rgba(127, 6, 175, 0.842) 100%); */


background: rgb(227,34,39);
background: linear-gradient(90deg, rgb(223, 13, 20) 0%, rgba(2, 119, 161, 0.81) 100%);
  
}

.blog-home3 .date-pos {
  font-size: 12px;
}

.blog-home3 a {
  overflow: hidden;
}

.blog-home3 a img {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home3 a img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}