<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- NavBar -->
<div class="header1 position-relative">
  <div class="big-container fixed-top">
    <div class="container">
      <!-- Header 1 code -->
      <nav class="navbar navbar-expand-lg h1-nav">
        <a class="navbar-brand" routerLink="/home">
          <img
            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/logos/green-logo.png"
            alt="wrapkit"
          />
          <!-- <h1>Polical Profile</h1> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#header1"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="icon-menu"></span> -->
          <span class="fa fa-bars" style="color: azure"></span>
        </button>
        <div class="collapse navbar-collapse" id="header1">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active current"
                routerLink="/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active current"
                routerLink="/events"
                >Events</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active current"
                routerLink="/news"
                >News</a
              >
            </li>
            <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="h1-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Services <i class="icon-arrow-down font-12 ml-1"></i>
            </a>
            <ul class="b-none border-0 dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider" role="separator"></li>
              <li class="dropdown-submenu position-relative">
                <a
                  class="dropdown-toggle dropdown-item"
                  data-toggle="dropdown"
                  href="#"
                  >Dropdown
                  <i class="icon-arrow-right float-right font-12 mt-1"></i
                ></a>
                <ul class="dropdown-menu b-none border-0 menu-right">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                  <li class="divider" role="separator"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                  <li class="divider" role="separator"></li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >One more separated link</a
                    >
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
              <li class="divider" role="separator"></li>
              <li>
                <a class="dropdown-item" href="#">One more separated link</a>
              </li>
            </ul>
          </li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="#">Freebies</a></li>
          <li class="nav-item">
            <a class="btn btn-outline-success py-2 px-4" href="#">Hire Me</a>
          </li> -->
          </ul>
        </div>
      </nav>
      <!-- End Header 1 code -->
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
<app-footer></app-footer>
