<!-- background-image: url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature21/img1.jpg); -->

<div
  class="py-5 service-21 wrap-service21-box"
  style="
    height: 550px;
    margin-bottom: 20vh;

    background-image: url(../assets/img/news-cover.jpg);
  "
>
  <div class="container">
    <!-- Row  -->
    <div class="row text-white" style="margin-top: 180px">
      <!-- Column -->
      <div class="col-md-5">
        <div class="" style="background-color: rgba(0, 0, 0, 0.295)">
          <!-- <span
            class="badge badge-info rounded-pill px-3 py-1 font-weight-light"
            >Service 21</span
          > -->
          <h3
            class="text-white mt-3 mb-4 service-21"
            style="font-weight: 500; letter-spacing: 3px"
          >
            Events
          </h3>
          <p class="op-8 service-21">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio, eaque rerum!
          </p>
          <a
            class="btn btn-info-gradiant btn-md mt-3 border-0 service-21"
            href="#f21"
            ><span>View Details</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
