<!-- <app-eventpage-banner></app-eventpage-banner> -->
<div class="blog-home2 py-5" style="margin-top: 10vh">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h1 class="my-3">Upcoming Events</h1>
        <h3 class="font-weight-normal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </h3>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4 d-flex justify-content-center">
      <!-- Column -->
      <div class="col-md-3">
        <a routerLink="events" style="text-decoration: none">
          <div
            class="card border-0 mb-4 on-hover"
            style="background-color: #e0e4d6"
          >
            <a href="#"
              ><img
                class="card-img-top"
                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img3.jpg"
                alt="wrappixel kit"
            /></a>
            <div
              class="
                date-pos
                bg-info-gradiant
                p-2
                d-inline-block
                text-center
                rounded
                text-white
                position-absolute
              "
            >
              Oct<span class="d-block">23</span>
            </div>
            <div class="container">
              <h5 class="font-weight-medium mt-3">
                <a routerLink="events" class="text-decoration-none link"
                  >You should have eagle’s eye on new trends and techonogies</a
                >
              </h5>
              <p class="mt-3" style="color: black">
                Business Park, Opp. Corns Sam Restaurant, New Yoark, US
              </p>
            </div>
            <!-- <span style="padding: 6px 10px">
              <a
                href="#"
                class="text-decoration-none linking text-themecolor mt-2"
                >Learn More</a
              >
            </span> -->
          </div>
        </a>
      </div>
      <!-- Column -->
      <div class="col-md-3">
        <div
          class="card border-0 mb-4 on-hover"
          style="background-color: #e0e4d6"
        >
          <a href="#"
            ><img
              class="card-img-top"
              src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img2.jpg"
              alt="wrappixel kit"
          /></a>
          <div
            class="
              date-pos
              bg-info-gradiant
              p-2
              d-inline-block
              text-center
              rounded
              text-white
              position-absolute
            "
          >
            Oct<span class="d-block">23</span>
          </div>
          <div class="container">
            <h5 class="font-weight-medium mt-3">
              <a href="#" class="text-decoration-none link"
                >New Seminar on Newest Food Recipe from World’s Best</a
              >
            </h5>
            <p class="mt-3">
              Business Park, Opp. Corns Sam Restaurant, New Yoark, US
            </p>
          </div>

          <!-- <span style="padding: 6px 10px">
              <a
                href="#"
                class="text-decoration-none linking text-themecolor mt-2"
                >Learn More</a
              >
            </span> -->
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-3" *ngFor="let event of eventsformationAll">
        <!-- <div class="container" style="background-color: #c08c99"> -->
        <div
          class="card border-0 mb-4 on-hover"
          style="background-color: #e0e4d6"
        >
          <div *ngFor="let image of imageResonse">
            <div *ngIf="image.id === event.imageId">
              <div *ngIf="retrievedImage">
                <img
                  *ngIf="retrievedImage"
                  class="card-img-top"
                  src="data:image/jpeg;base64,{{ image.image }}"
                  alt="{{ image.id }}"
                />
              </div>
            </div>
          </div>
          <div
            class="
              date-pos
              bg-info-gradiant
              p-2
              d-inline-block
              text-center
              rounded
              text-white
              position-absolute
            "
          >
            {{ event.date | date: "MMM" }}
            <span class="d-block">{{ event.date | date: "d" }}</span>
          </div>
          <div class="container">
            <h5 class="font-weight-medium mt-3">
              <a href="#" class="text-decoration-none link">{{
                event.title
              }}</a>
            </h5>
            <p class="mt-3">{{ event.venue }}</p>
          </div>

          <!-- <span style="padding: 6px 10px">
              <a
                href="#"
                class="text-decoration-none linking text-themecolor mt-2"
                >Learn More</a
              >
            </span> -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
